
 {% load static %}
<html>
<head>
    <title>
    Django MTV
    </title>
    <link rel ="stylesheet" href="{% static "css/mystyle.css"%}"/>

</head>

<body>

    <h1>Please Sighn Up!!</h1>
    
    
    <div class = "djmtv">
        
        {% if hello_home %}
        
        <ol>
            {% for words in hello_home %}
            <li>User Info</li>
               <ul>
                <li>First Name: {{ words.first_name }}</li>
                <li>Last Name: {{ words.last_name }}</li>
               </ul>
            {% endfor %}
        </ol>  
        {% else %}
            <p>No Record Found!!!!</p>
        {% endif %}
    </div>

</body>

</html>
